// //======= approach =======\\
section.approach
  .container
    +title(approach, true)

    ul.approach__list
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-1.jpg" alt="Picture step 1")
          .approach__step step
        .approach__text
          .approach__title Step 1 : Heading Here
          .approach__description
            p.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the #[span 1500s], when an unknown printer took a galley of type
              and scrambled.
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-2.jpg" alt="Picture step 2")
          .approach__step step
        .approach__text
          .approach__title Step 2 : Heading Here
          .approach__description
            p.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the #[span 1500s], when an unknown printer took a galley of type
              and scrambled.
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-3.jpg" alt="Picture step 3")
          .approach__step step
        .approach__text
          .approach__title Step 3 : Heading Here
          .approach__description
            p.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the #[span 1500s], when an unknown printer took a galley of type
              and scrambled.
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-4.jpg" alt="Picture step 4")
          .approach__step step
        .approach__text
          .approach__title Step 4 : Heading Here
          .approach__description
            p.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the #[span 1500s], when an unknown printer took a galley of type
              and scrambled.
// \\======= approach =======//