-const items = {'home': 'Home', 'about': 'About us', 'approach': 'Our approach', 'work': 'Our work'}

// //======= navigation =======\\
nav.nav
  each item, key in items
    if key === "home"
      a.nav__link.nav__link--active(href= "#" + key data-link= key)= item
    else
      a.nav__link(href= "#" + key data-link= key)= item
// \\======= navigation =======//