// //======= work =======\\
section.work
  .container
    +title(work, true)

    ul.work__list
      li.work__item.work__item--name
        .work__name Project Name
        .work__description Facebook marketing

      li.work__item
        img.work__picture(src="../images/work-1.jpg" alt="Picture work-1")

      li.work__item.work__item--name
        .work__name Project Name
        .work__description Landing page

      li.work__item
        img(src="../images/work-2.jpg" alt="Picture work-2")

      li.work__item.work__item--name
        .work__name Project Name
        .work__description Landing page

      li.work__item
        img.work__picture(src="../images/work-3.jpg" alt="Picture work-3")

      li.work__item.work__item--name
        .work__name Project Name
        .work__description Facebook marketing

      li.work__item
        img.work__picture(src="../images/work-4.jpg" alt="Picture work-4")
// \\======= work =======//