/* approach
============================== */
.approach {
  padding: 86px 0 94px;

  background-color: #f3f3f3;

  @media screen and (max-width: 985px ) {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .title {
    @media screen and (max-width: 985px ) {
      margin-bottom: 35px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    counter-reset: count;
  }

  &__item {
    margin-bottom: 40px;

    color: #424242;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: -1px -1px 10px 1px rgba(214, 214, 214, 1);

    @media screen and (max-width: 985px ) {
      padding: 25px 20px;
    }

    &:nth-child(2n) {
      display: flex;
      flex-direction: row-reverse;

      text-align: right;

      @media screen and (max-width: 700px ) {
        display: block;
      }

      .approach__text {
        padding-right: 90px;
        padding-left: 60px;

        @media screen and (max-width: 985px ) {
          padding: 25px 20px;
        }
      }

      .approach__step {
        right: auto;
        left: -52px;
      }
    }
  }

  &__image {
    position: relative;

    display: inline-block;
    max-width: 340px;
    max-height: 236px;

    vertical-align: top;

    @media screen and (max-width: 985px ) {
      max-width: calc(340px / 1.5);
      max-height: calc(236px / 1.5);
    }

    @media screen and (max-width: 700px ) {
      display: block;
      margin: auto;
    }
  }

  &__picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__text {
    display: inline-block;
    width: 64%;
    padding: 70px 70px 55px 90px;

    font-size: 0.875rem;
    vertical-align: top;

    @media screen and (max-width: 985px ) {
      padding: 25px 20px;
    }

    @media screen and (max-width: 700px ) {
      width: 100%;

      text-align: center;
    }
  }

  &__step {
    @include absol-center(false, true);

    right: -52px;

    width: 103px;
    height: 103px;
    padding-top: 10px;

    font-size: 1.25rem;
    text-align: center;
    color: #fff;

    background-color: #de2b24;
    border: 2px solid #fff;
    border-radius: 5px;

    &::before {
      content: counter(count);

      display: block;

      font-size: 3rem;
      line-height: 1;
      font-family: $ff-steps;
      color: #fff;

      counter-increment: count;
    }

    @media screen and (max-width: 985px ) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 6px;

    font-size: 1.125rem;
    font-family: $ff-main-bold;
  }

  &__description {
    margin: 0;

    line-height: 1.5;
  }
}
