/* footer
============================== */
.footer {
  &__top {
    padding: 88px 0 83px;
    text-align: center;
    background-color: #2a2a2a;
  }

  &__bottom {
    padding: 26px;
    text-align: center;
    background-color: #515151;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 1.8125rem;
    color: #fff;
    font-family: $ff-main-bold;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 0.875rem;
    color: #cecece;
  }

  &__field {
    width: 67%;
    margin: 0 auto 27px;
  }

  &__input {
    width: 100%;
    padding: 20px;
    font-size: 0.875rem;
    color: #cecece;
    background-color: #515151;
    border: none;
  }

  .button {
    border: 2px solid #515151;
    padding: 15px 37px;
    font-size: 1.0625rem;
    font-family: $ff-main-bold;
    background-color: initial;
    color: #fff;

    &:hover {
      border-color: #de2b24;
    }
  }

  &__copy {
    font-size: 0.875rem;
    color: #cecece;
  }
}

.socials {
  margin-bottom: 35px;
  color: #fff;

  &__link {
    margin-left: 20px;
    padding: 15px;
    border: 1px solid #515151;
    border-radius: 3px;
    transition: border-color 0.3s;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      border-color: #de2b24;
    }
  }

  &__icon {
    color: #fff;
  }
  
  &__text {
    @extend %visually-hidden;
  }
}