/* form
============================== */
.form-section {
  padding: 100px 0 110px 0;

  color: #fff;

  background-color: #1287bf;

  @media screen and (max-width: 810px ) {
    padding: 50px 0 55px 0;
  }

  .title {
    margin-bottom: 12px;
  }

  .title__header {
    font-size: 2.25rem;
  }

  .title__text {
    font-size: 1.25rem;
  }

  .btn-down {
    position: relative;

    width: 65px;
    height: 65px;
    margin: auto auto 20px auto;

    border: 2px solid #fff;
    border-radius: 50%;

    .arrow-down {
      @include absol-center();

      .fa {
        font-size: 2.5rem;
        color: #fff;
      }
    }
  }
}

.form {
  position: relative;

  width: 67%;
  margin: auto;
  padding: 50px 50px 66px 50px;

  text-align: center;
  color: #828282;

  background-color: #fff;
  border-radius: 3px;

  @media screen and (max-width: 810px ) {
    width: 90%;
    padding: 25px;
  }

  &-container {
    padding-top: 30px;
  }

  &::before {
    @include absol-center(true, false);

    content: "";
    position: absolute;
    bottom: 100%;

    border: 30px solid transparent;
    border-bottom: 30px solid #fff;
  }

  &__close-button {
    position: absolute;
    top: -22px;
    right: -16px;

    width: 50px;
    height: 50px;

    font-size: 2rem;
    text-align: center;
    color: #fff;

    background-color: #de2b24;
    border: 2px solid #fff;
    border-radius: 50%;

    transition: all 0.3s;

    &:hover {
      background-color: lighten(#de2b24, 10%);
    }
  }

  &__text {
    margin-bottom: 33px;

    font-size: 0.9375rem;
    line-height: 1.5;
  }

  &__fields {
    margin-bottom: 36px;
  }

  &__input {
    display: block;
    width: 76%;
    margin: auto auto 8px auto;
    padding: 18px 20px;

    font-size: 0.875rem;

    border: 1px solid #d8d8d8;
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 3px 1px rgba(18, 135, 191, 0.5);
    }
  }

  .button {
    padding: 15px 30px;

    border: none;
  }
}
