/* hero
============================== */

.hero {
  min-height: 590px;
  padding: 174px 0;

  text-align: center;
  color: #fff;

  background-color: #7a867f;
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__about {
    font-size: 3rem;
    line-height: 1;
    font-family: $ff-main-bold;
    text-transform: capitalize;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 27px;

    font-size: 30px;
    font-family: $ff-main-light;
  }

  @media screen and (max-width: 599px ) {
    min-height: inherit;
    padding: 100px 20px;
  }

  .button--text-uppercase {
    padding: 21px 30px;

    font-family: $ff-main-bold;
    font-size: 1.5rem;
    letter-spacing: 1px;

    border-radius: 8px;
  }
}
