/* navigation
============================== */
.nav {
  display: inline-block;
  margin-left: 170px;

  vertical-align: top;

  @media screen and (max-width: 1030px) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 25px;
  }

  &__link {
    display: inline-block;
    padding: 10px;

    font-size: 0.9rem;
    font-family: $ff-main-bold;
    vertical-align: top;
    color: #424242;
    text-transform: capitalize;
    text-decoration: none;

    transition: all 0.3s;

    &--active,
    &:hover {
      color: #de2b24;
    }

    &::after {
      content: "";

      display: inline-block;
      width: 5px;
      height: 5px;
      margin-left: 15px;

      vertical-align: middle;

      background-color: #424242;
      border-radius: 50%;
    }

    &:last-child::after {
      display: none;
    }

    @media screen and (max-width: 530px) {
      display: block;

      text-align: center;

      &::after {
        display: none;
      }
    }
  }
}
