/* title
============================== */
.title {
  margin-bottom: 63px;

  text-align: center;

  &__header {
    margin: 0;

    font-size: 2.25rem;
    line-height: 1;
    font-family: $ff-main-bold;
    text-transform: capitalize;
  }

  &__text {
    font-size: 1.25rem;
    font-family: $ff-main-light;
  }

  &--with-bottom-line {
    position: relative;

    &::after {
      @include absol-center(true, false);

      content: "";
      bottom: -16px;

      width: 47px;
      height: 5px;

      background-color: #424242;
    }
  }
}
