/* BUTTON
============================== */
.button {
  display: inline-block;
  padding: 10px 22px 7px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s;

  &--red {
    background-color: #de2b24;

    &:hover {
      background-color: lighten(#de2b24, 7%);
    }
  }

  &--yellow {
    background-color: #f8cd53;

    &:hover {
      background-color: lighten(#f8cd53, 7%);
    }
  }

  &--text-uppercase {
    text-transform: uppercase;
  }
}
